.quarto-dashboard .bslib-value-box .value-box-value {
    font-size: clamp(.1em, 8cqw, 5em) !important;
}

.card[data-title="Most recent forecast"] .card-header,
.card[data-title="Probability of Mixing"] .card-header {
    background-color: #CD4528;
    color: #FFFFFF;
}

.card[data-title="How forecasts are created"] .card-header,
.card[data-title="Relevant Research from the Virginia Tech Center for Ecosystem Forecasting"] .card-header {
    color: #FFFFFF;
}

.card:has(#last-updated-footer) {
    border: none;
    box-shadow: none;
    background-color: transparent;
}